//General Colors
$background-color: #fff;
$background-color-dark:#6a6a6a;
$divider-color:#DFDFDF;
$accent-color-blue:#0C6296;
$accent-color-gold:#c6970e;
$chip-color:#E4E4E4;

//Text Colors
$primary-text-color-lightbkg:#000;
$secondary-text-color:#8b8b88;
$primary-text-color-darkbkg: #fff;

//Status Colors
$reg-open: #8ED07F;
$reg-closed: #cccccc;


//Misc
$icon-color: #000000;
$notification-color: #fc0a1b; 